<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">

    <h1>All Users</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">surname</th>
            <th scope="col">age</th>
            <th scope="col">operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.surname}"></td>
            <td th:text="${user.age}"></td>
            <td>
                <a class="btn btn-primary btn-sm"
                   th:href="@{/updateInfo(userId=${user.id})}">
                    Update
                </a>
                
                <a class="btn btn-danger btn-sm ms-2"
                   th:href="@{/deleteUser(userId=${user.id})}">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="mb-3">
        <a class="btn btn-success" th:href="@{/addNewUser}">Add</a>
    </div>
</div>
</body>
</html>